<div class="ActivityView">
    <nav>
        <app-toolbar [toolbarTitle]="'Activity view navigator'"
                     [toolbarDirection]="'vertical'"
                     [toolbarItems]="viewItems"
                     [activeItem]="getActiveItem()"
                     (toolBarClick)="clickViewItem($event)"
                     [toolbarSize]="'big'"></app-toolbar>

        <app-toolbar [toolbarTitle]="'Global actions'"
                     [toolbarDirection]="'vertical'"
                     [toolbarItems]="globalActions"
                     [toolbarSize]="'big'"></app-toolbar>
    </nav>

    <section class="ActivityView__sidebar">
        Haha
    </section>
</div>
