<ul [attr.aria-label]="title" role="toolbar" [ngClass]="cn.get()" class="Toolbar">
    <li *ngFor="let item of items"
        role="presentation"
        class="Toolbar__item">
        <app-button (buttonClick)="clickToolbarItem(item)"
                    [title]="item.title"
                    type="flat"
                    [active]="isItemActive(item)"
                    [size]="size">
            <app-icon [name]="item.iconName"
                      color="gray"
                      [size]="size"></app-icon>
        </app-button>
    </li>
</ul>
