<ul [attr.aria-label]="toolbarTitle" role="toolbar" [ngClass]="cn.get()" class="Toolbar">
    <li *ngFor="let item of toolbarItems"
        role="presentation"
        class="Toolbar__item">
        <app-button (buttonClick)="clickToolbarItem(item)"
                    [buttonTitle]="item.title"
                    [buttonType]="'flat'"
                    [active]="isItemActive(item)"
                    [buttonSize]="toolbarSize">
            <app-icon [iconName]="item.iconName"
                      [iconColor]="'gray'"
                      [iconSize]="toolbarSize"></app-icon>
        </app-button>
    </li>
</ul>
