<ul [attr.aria-label]="title" role="toolbar" [ngClass]="className.get()" class="Toolbar">
    <li *ngFor="let item of items"
        role="presentation"
        class="Toolbar__item">
        <ui-button (buttonClick)="clickToolbarItem(item)"
                   [title]="item.title"
                   type="flat"
                   [active]="isItemActive(item)"
                   [size]="size">
            <ui-icon [name]="item.iconName"
                     color="gray"
                     [size]="size"></ui-icon>
        </ui-button>
    </li>
</ul>
