<div aria-label="Note browser" class="NoteBrowser">
    <header class="NoteBrowser__titlebar">
        <h1>Note Browser</h1>
        <app-toolbar
                [toolbarTitle]="'Note browser actions'"
                [toolbarItems]="actions"></app-toolbar>
    </header>

    <div class="NoteBrowser__calendar">
        <app-note-calendar></app-note-calendar>
    </div>

    <ul class="NoteBrowser__list">
        <li class="NoteBrowser__item">
            <app-note-item></app-note-item>
        </li>
    </ul>
</div>
