<div aria-label="Note browser" class="NoteBrowser">
    <header class="NoteBrowser__titlebar">
        <h1>Note Browser</h1>
        <app-toolbar
                title="Note browser actions"
                [items]="actions"></app-toolbar>
    </header>

    <div class="NoteBrowser__calendar">
        <app-note-calendar></app-note-calendar>
    </div>

    <ul class="NoteBrowser__list">
        <li *ngFor="let noteItem of noteItems | async" class="NoteBrowser__item">
            <app-note-item (select)="selectNoteItem($event)"
                           [selected]="isNoteItemSelected(noteItemSelection | async, noteItem)"
                           [note]="noteItem"></app-note-item>
        </li>
    </ul>
</div>
