<div role="dialog" class="NoteCodeEditorSnippetCreateModal">
    <header>
        <h1 class="NoteCodeEditorSnippetCreateModal__title">Create code snippet</h1>
        <ui-button (buttonClick)="close()" title="Close modal" size="small" type="flat">
            <ui-icon name="times" size="small" color="darkGray"></ui-icon>
        </ui-button>
    </header>

    <section>
        <form [formGroup]="creationForm" (ngSubmit)="submit($event)"
              class="NoteCodeEditorSnippetCreateModal__creationForm">
            <ui-form-field>
                <label for="languageInput">Language</label>
                <input id="languageInput" uiInput #languageInput formControlName="language"
                       [uiAutocomplete]="auto" type="text" autofocus/>
                <ui-autocomplete #auto="uiAutocomplete"></ui-autocomplete>
                <ui-form-error-message errorName="required">
                    Language is required
                </ui-form-error-message>
            </ui-form-field>

            <ui-form-field>
                <label for="fileNameInput">File name</label>
                <input id="fileNameInput" uiInput #fileNameInput formControlName="fileName" type="text"/>
                <ui-form-error-message errorName="required">
                    File name is required
                </ui-form-error-message>
            </ui-form-field>

            <footer class="NoteCodeEditorSnippetCreateModal__submit">
                <ui-button title="Cancel">Cancel</ui-button>
                <ui-button title="Create code snippet" type="primary" buttonType="submit">Create</ui-button>
            </footer>
        </form>
    </section>
</div>
