<div [ngClass]="cn.get()" class="ActivityView">
    <nav>
        <app-toolbar
                (toolBarClick)="clickItem($event)"
                title="Activity view navigator"
                direction="vertical"
                [items]="items"
                [activeItemId]="activeItemId"
                size="big"></app-toolbar>

        <app-toolbar
                title="Global actions"
                direction="vertical"
                [items]="globalActions"
                size="big"></app-toolbar>
    </nav>

    <section class="ActivityView__sidebar">
        <app-note-browser [class.show]="isActiveItemId('ActivityView.noteBrowser')" class="ActivityView__sidebarContent"></app-note-browser>
        <div [class.show]="isActiveItemId('ActivityView.scm')" class="ActivityView__sidebarContent"></div>
    </section>
</div>
