<div [ngClass]="cn.get()" class="ActivityView">
    <nav>
        <app-toolbar
                (toolBarClick)="clickItem($event)"
                [toolbarTitle]="'Activity view navigator'"
                [toolbarDirection]="'vertical'"
                [toolbarItems]="items"
                [activeItemId]="activeItemId"
                [toolbarSize]="'big'"></app-toolbar>

        <app-toolbar
                [toolbarTitle]="'Global actions'"
                [toolbarDirection]="'vertical'"
                [toolbarItems]="globalActions"
                [toolbarSize]="'big'"></app-toolbar>
    </nav>

    <section [ngSwitch]="activeItemId" class="ActivityView__sidebar">
        <app-note-browser *ngSwitchCase="'ActivityView.noteBrowser'"></app-note-browser>
        <div *ngSwitchCase="'ActivityView.scm'"></div>
    </section>
</div>
