<header class="NoteHeader">
    <div class="NoteHeader__title">
        <h1 class="NoteHeader__noteTitle">Angular Lazy Loading 모듈 사용하기</h1>
        <time class="NoteHeader__noteCreatedAt">2017 Dec, 12</time>
    </div>

    <div class="NoteHeader__noteTechStacks">
        <code-tech-stack-input></code-tech-stack-input>
    </div>

    <div class="NoteHeader__tools">
        <ui-toolbar title="Note action" [items]="noteActionTools"></ui-toolbar>
        <ui-button title="Publish note" type="primary">Publish</ui-button>
    </div>
</header>
