@import "../fonts/open-sans/open-sans.css";
@import "../fonts/zilla-slab/zilla-slab.css";

@import "../icons/line-awesome/css/line-awesome-font-awesome.min.css";
@import "../icons/line-awesome/css/line-awesome.min.css";

@import "./color.css";
@import "./unit.css";


*, *:before, *:after {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: var(--text-regular-size);
    font-weight: 400;
    line-height: var(--lineHeight-regular-size);
    color: var(--color-gray-9);
}
