@import "./codemirror.css";


.NoteEditorSnippet {
    display: block;
    width: 100%;
}

.NoteEditorSnippet__content {
    cursor: text;
}


.NoteTextEditorSnippet {
    overflow: hidden;
    padding: var(--space-regular-size);
}

.NoteTextEditorSnippet--focused {
    border-radius: 5px;
    border: 1px solid var(--color-gray-3);
    padding: calc(var(--space-regular-size) - 1px);
}

.NoteTextEditorSnippet__content {
    min-height: 21px;
    color: var(--color-gray-9);
}

.NoteTextEditorSnippet__content .mtk6, .NoteTextEditorSnippet__content .mtk13 {
    font-weight: bold !important;
    color: var(--color-blue-5) !important;
}

.NoteTextEditorSnippet__content .mtk8 {
    color: var(--color-teal-5) !important;
}

.NoteTextEditorSnippet__content .mtk1 {
    color: var(--color-gray-9);
}

.NoteTextEditorSnippet__content .mtk20 {
    color: var(--color-cyan-5) !important;
}

.NoteTextEditorSnippet__content .mtk23 {
    color: var(--color-gray-5) !important;
}



.NoteCodeEditorSnippet {
    padding: var(--space-big-size) 0;
}

.NoteCodeEditorSnippet__header {
    display: flex;
    align-items: center;
    padding: 0 var(--space-regular-size);
    width: 100%;
    height: var(--box-regular-size);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.NoteCodeEditorSnippet__content {
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.NoteCodeEditorSnippet__content .monaco-editor {
    background-color: transparent !important;
}

.NoteCodeEditorSnippet__content .monaco-editor .margin {
    background-color: transparent !important;
}

.NoteCodeEditorSnippet__content .monaco-scrollable-element {
    border-radius: 5px;
}

.NoteCodeEditorSnippet__content .mtk1 {
    color: var(--color-gray-9);
}

.NoteCodeEditorSnippet__fileName {
    display: inline-block;
    margin: 0;
    font-size: var(--text-regular-size);
    line-height: var(--lineHeight-regular-size);
    color: var(--color-white);
}
