<div class="NoteCalendar">
    <nav class="NoteCalendar__nav">
        <ui-button type="flat" (buttonClick)="navigateMonth(-1)">
            <ui-icon name="angle-left" color="gray"></ui-icon>
        </ui-button>

        <h1 class="NoteCalendar__title">{{calendarTable.displayName}}</h1>

        <ui-button type="flat" (buttonClick)="navigateMonth(1)">
            <ui-icon name="angle-right" color="gray"></ui-icon>
        </ui-button>
    </nav>

    <section class="NoteCalendar__content">
        <div class="NoteCalendar__label">
            <span class="red">S</span>
            <span>M</span>
            <span>T</span>
            <span>W</span>
            <span>T</span>
            <span>F</span>
            <span class="blue">S</span>
        </div>

        <div *ngFor="let row of calendarTable.rows" class="NoteCalendarRow">
            <a *ngFor="let cell of row.cells"
               (click)="selectDateCell(cell)"
               [class.isBlank]="cell.isBlank"
               class="NoteCalendarCell">
                <time [attr.datetime]="cell.time | date"
                      *ngIf="!cell.isBlank">{{cell.time | date:'d'}}</time>
            </a>
        </div>
    </section>
</div>
