<div class="NoteWorkspace">
    <header class="NoteWorkspace__header">
        <note-header></note-header>
    </header>

    <div class="NoteWorkspace__content">
        <section class="NoteWorkspace__section">
            <note-editor
                    [noteBody]="noteBody"
                    (noteBodySnippetCreations)="createNewNoteBodySnippet()"
                    (bodyValueChanges)="changeNoteBodySnippetValue($event)"></note-editor>
        </section>

        <section class="NoteWorkspace__section">
            <note-preview [noteBody]="noteBody"></note-preview>
        </section>
    </div>
</div>
